.container {
  margin: auto;
  font-family: sans-serif;
  line-height: 1.5;
}

h2 {
  color: yellow;
}

.flex-grid {
  color: white;
  display: flex;
  // margin: auto -1rem 1rem;
}

.col {
  background-color: whitesmoke;

  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.sidebar {
  flex: 1;
}

.main {
  flex: 8;
}
