


<!-- fxLayoutAlign="center center" -->
<!-- fxLayoutGap="10%" -->
<!-- fxLayoutAlign="center center" -->
<div
fxLayout="row wrap"
fxLayoutGap="0%"

>
<!-- fxFlexAlign="center" -->
  <div fxFlexOffset="25%" fxFlexOrder="1" fxFlex="25%" class="yellow">1. One</div>
  <div fxFlexOrder="2" fxFlex="25%" class="green">2. Two</div>
  <div fxFlexOrder="3" fxFlex="25%" class="red">3. Three</div>
  <div fxFlexOrder="4" fxFlex="25%" class="cyan">4. Four</div>

</div>



<br>
<br>
<div fxLayout="row" fxLayoutAlign="center center">
  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>
</div>

<br>
<br>


<div
fxLayout="column"
>
  <div class="yellow">1. One</div>
  <div class="green">2. Two</div>
  <div class="black">3. Three</div>
  <div class="cyan">4. Four</div>
</div>





<!-- <div fxLayout="row" >
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
</div>

<br>
<br>
<br>

<div fxLayout="row wrap" >
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
</div>


<br>
<br>
<br>


<div fxLayout="column" >
  <div class="green">Item1</div>
  <div class="red">Item2</div>
  <div class="green">Item1</div>
  <div class="red">Item2</div>
</div> -->
