<div class="container">
  <div class="flex-grid" cdkDropListGroup>
    <section class="col main">

      <div >
        <div class="example-container">
          <div id="canvasRef" fxLayout="row" fxLayoutGap="0%" cdkDropListOrientation="horizontal" cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
            <div fxFlex="25%" class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <div id="canvasRef1" cdkDropListOrientation="horizontal" cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
            <div fxFlex="25%" class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>


        <div class="example-container">
          <div id="canvasRef2" cdkDropListOrientation="horizontal" cdkDropList [cdkDropListData]="prodDone" class="example-list" (cdkDropListDropped)="drop($event)">
            <div fxFlex="25%" class="example-box" *ngFor="let item of prodDone" cdkDrag>{{item}}</div>
          </div>
        </div>


      </div>

    </section>
  </div>
</div>
