
<!-- [ngStyle]="{'height': '100vh'}" -->
      <div cdkDropListGroup >
          <div [ngStyle]="row.rowStyle" *ngFor="let row of configJson.rows; let rowId=index" id="canvasRef{{rowId}}"  [fxLayout]="row.fxLayout" [fxLayoutGap]="row.fxLayoutGap" [cdkDropListOrientation]="row.cdkDropListOrientation" cdkDropList [cdkDropListData]="row.columns" class="example-list" (cdkDropListDropped)="drop($event)">
            <div [ngStyle]="col.colStyle" (click)="itemSelected(rowId, colId)" [fxFlex]="col.fxFlex" class="example-box" fxFlexOffset="25%" *ngFor="let col of row.columns; let colId=index" cdkDrag>{{col.name}}</div>
          </div>


        <!-- <div class="example-container">
          <div id="canvasRef{{one}}" fxLayout="row" fxLayoutGap="0%" cdkDropListOrientation="horizontal" cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
            <div fxFlex="25%" class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <div id="canvasRef1" cdkDropListOrientation="horizontal" cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
            <div fxFlex="25%" class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>


        <div class="example-container">
          <div id="canvasRef2" cdkDropListOrientation="horizontal" cdkDropList [cdkDropListData]="prodDone" class="example-list" (cdkDropListDropped)="drop($event)">
            <div fxFlex="25%" class="example-box" *ngFor="let item of prodDone" cdkDrag>{{item}}</div>
          </div>
        </div> -->


      </div>
